@use './src/base';

.main-tourism-block {
  margin-top: -1px;
  background-color: base.$bg-color;
}

.pictures {
  width: 43%;
  margin: 100px 0px 0px 80px;
  transition: 2s;
  box-shadow: 14px 16px 12px #9da0a8;

  &:hover {
    transform: scale(1.1);
  }
}

.text-over-picture {
  position: relative;

  &:hover .appeared-text {
    background-color: base.$tourism-card-color;
    transition: 2s;
  }
}

.kind-of-tourism {
  //margin-left: 60%;
  letter-spacing: 3px;
  font-size: 50px;
  text-align: center;
  //position: absolute;
  font-family: Monotype Corsiva, serif;
  text-shadow: 8px 6px 6px #22252c;
  color: white;
}

.appeared-text {
  position: absolute;
  padding: 20px;
  color: black;
  border-radius: 16px;
  width: 35%;
  opacity: 1;
  transition: 2s;
  top: 100px;
  margin-left: 60%;
  border: 1px solid #bcc2cb;
}