@use '../../../../base';

.ant-card-bordered {
  border: 0 !important;
}

.reviews-block {
  width: 100%;
  background-color: base.$bg-color;
  position: absolute;
  left: 0;
  min-height: 100%;
}

.reviews-item {
  text-align: center;
  border: 1px solid;
  width: 85%;
  margin: 10px auto;
}

.pagination {
  position: absolute;
  display: inline-flex;
  gap: 15px;
}

.pagination-align {
  padding: 10px;
  height: 40px;
  background: base.$bg-color;
  width: 100%;
  display: flex;
  justify-content: center;
}