@use "./src/base";

.main-block {
  background-color: base.$bg-color;
  width: 100%;
  min-height: 100%;
  position: absolute;
  left: 0px;

  h1 {
    text-align: center;
    margin: 130px auto 10px auto;
    text-decoration:overline;
  }
}

.add-manager-form {
  margin: 50px auto;
  width: 550px;

  input{
    outline: none;
    background-color: base.$bg-color;
    box-shadow: 5px 6px 10px 0px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    width: 380px;
    height: 55px;
    margin: 0px 0px 40px auto;
    padding-left: 20px;
  }
}

.saveBut {
  width: 550px;
  height: 55px;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 6px 10px 0px;
  font-size: 20px;
  margin: 0px auto;
  background-color: base.$bg-color;
  font-weight: base.$text-weight;

  &:hover {
    cursor: pointer;
    background-color: base.$header-item-hover-bg;
  }
}
