@use './src/base';

#specialOffers {
  width: 100%;
  background-image: base.$main-bg-image;
  background-size: 100% 100%;
  //background-color: base.$bg-color;
  height: 700px;
  position: absolute;
  left: 0px;
  margin-top: -1px;
  font-family: Monotype Corsiva, serif;
  //margin-top: 420px;
}

.tagline {
  font-size: 80px;
  color: white;
  width: 658px;
  text-align: center;
  text-shadow: 8px 6px 6px #22252c;
  margin: 115px auto;
}