$text-size: 20px;
$text-weight: bold;
$bg-color: #d3d8e2; //7697c2
$bg-header-color: #808a9d;
$dark-gray: #3a3e46;
$tourism-card-color: #bcc2cb;
$logo-hover: #bfa24b;
$ul-type: none;
$text-decor: none;
$header-item-hover: #a18633;
$header-item-hover-bg: #FED761;
$header-item-hover-color: #596f85;
$errors: #FF0000FF;
$filter-bg-image: url('../src/images/bgMain.jpg');
$main-bg-image: url('../src/images/background.jpg');

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 20px;
}
.user-icon {
  width: 20px;
  height: 20px;
  margin-right: -25px;
  padding-top: 0;
}
a {
  text-decoration: $text-decor;
  color: black;
}

.transition {
  transition: 1s;
}

.error {
  color: $errors;
  height: 40px;
  font-size: 15px;
  margin-top: -40px;
  margin-left: 148px;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
}

.labels {
  font-weight: $text-weight;
  font-size: 24px;
  margin-right: 7px;
  width: 140px;
}

.add-review-button {
  background: $bg-color;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.ant-btn-primary {
  background: $bg-header-color !important;
  border-color: $bg-header-color !important;

  &:hover {
    background: $dark-gray !important;
    border-color: $dark-gray !important;
  }
}

.ant-input-affix-wrapper, .ant-input {
  border-radius: 20px !important;
}

.add-button.ant-btn-primary {
  margin-left: 0;
}

@media only screen and (max-width: 768px) {
  body {

  }
}
