$text-size: 20px;
$text-weight: bold;
$bg-color: #d3d8e2; //7697c2
$bg-header-color: #808a9d;
$dark-gray: #3a3e46;
$tourism-card-color: #bcc2cb;
$logo-hover: #bfa24b;
$ul-type: none;
$text-decor: none;
$header-item-hover: #a18633;
$header-item-hover-bg: #FED761;
$header-item-hover-color: #596f85;
$errors: #FF0000FF;
$filter-bg-image: url('../src/images/bgMain.jpg');
$main-bg-image: url('../src/images/background.jpg');

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 20px;
}

body {
  height: 100%;
}

h2 {
  display: flex;
  justify-content: center;
  padding-top: 25px !important;
  font-weight: normal !important;
  text-decoration: underline;
}

.user-icon {
  width: 20px;
  height: 20px;
  margin-right: -25px;
  padding-top: 0;
}

a {
  text-decoration: $text-decor;
  color: black;
}

.transition {
  transition: 1s;
}

.error {
  color: $errors;
  height: 40px;
  font-size: 15px;
  margin-top: -40px;
  margin-left: 148px;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
}

.labels {
  font-weight: $text-weight;
  font-size: 24px;
  margin-right: 7px;
  width: 140px;
}

.add-button {
  background: $bg-color;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.ant-btn-primary {
  background: $bg-header-color !important;
  border-color: $bg-header-color !important;

  &:hover {
    background: $dark-gray !important;
    border-color: $dark-gray !important;
  }
}

.ant-input-affix-wrapper, .ant-input, .ant-picker, .ant-input-number-affix-wrapper {
  border-radius: 20px !important;
}

/*.ant-input-affix-wrapper>input.ant-input {
  padding: 5px !important;
}*/

.ant-card-body {
  height: 408px;
}

.ant-picker {
  width: 100% !important;
}

.add-button.ant-btn-primary {
  margin-left: 0;
}

.ant-input-number-affix-wrapper {
  width: 100% !important;
}

.ant-spin {
  position: fixed !important;
  margin-top: 200px !important;
}

.ant-menu-horizontal {
  box-shadow: inset 0 -10px 16px 1px #545f6d !important;
  background-color: $bg-header-color !important;
  color: rgba(61, 60, 60, 0.85) !important;
  justify-content: center;
  border-bottom: 0 !important;
}

.ant-menu-title-content > a {
  color: rgba(0, 0, 0, 0.85) !important;
}

/*.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-active,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-open,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-selected,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item:hover,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-active,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-open,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-selected,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu:hover {
  color: yellowgreen !important;
}*/


/*.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-active,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-open,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu:hover {
  color: purple !important;
}*/

@media only screen and (max-width: 768px) {
  body {

  }
}
